# Model Configuration
GRANITE_MODEL=granite3-dense:8b

# Neo4j Authorization (Used to set login credentials on container start)
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password123

# Frontend URL
FRONTEND_URL=http://localhost:5173

# External Data Flag
ENABLE_EXTERNAL_DATA=false
